# Alpaca Paper Trading credentials
ALPACA_API_KEY=PKHJYRKVNRYBXTSHMND54VLUCV
ALPACA_SECRET_KEY=H5fECiek5TsW7mZSAMYmFVMSqg2tA6GdW4WhtcJV2KBN
ALPACA_BASE_URL=https://paper-api.alpaca.markets

# report | paper | live
RUN_MODE=paper

# 1 = run Walk Forward + Monte Carlo before daily decision
# 0 = daily server mode only
RUN_BACKTEST=0

# Must remain 0 unless you intentionally enable real trading
ALLOW_LIVE_TRADING=0

# wechat Push Message 
WXPUSHER_APP_TOKEN=AT_Ckc8PLaMIwuBx6oGO2VYrjqSzxlmrtvE
WXPUSHER_UID=UID_oIAviuIPbBw3XJOyPkCWhRQqPvBm
